body{
    background: linear-gradient(to right , #EAD6EE ,#A0F1EA);
    margin: 0px;
    padding: 0px;
    font-family: 'Mingzat', sans-serif;

}
.header{
    display: flex;
    box-shadow:rgba(0, 0, 0, 0.16) 0px 1px 8px;
    justify-content: center;
    align-items: center;
    border: 2px soilid black; 
}

.main
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    
}
.fitem{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
input,input::after,input::before{
    border-radius:5px ;
    border-color: rgba(0, 0, 0, 0);
}


.btn{
    width: 100px;
    margin-top:20px ;
}


.footer{
    display: flex;
    position: relative;
    bottom: 0;
    justify-content: center;
    width: 100%;
    font-weight: bold;
}
a, a:hover, a:focus, a:active{
    text-decoration: none;
    color: inherit;
    
}
.card{
    display: flex;
    background: rgba(255,255,255,0.5);
    height: 200px;
    width: 100px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    border-radius: 5px;
    flex-direction:column;
}
.left{
    background: rgba(0,0,0, 0.3);
    padding: 2vh;
    border-radius:5px ;
    width: 20%;
    margin: 20px;
    height: 70vh;
}
.right{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    background: rgba(0,0,0, 0.3);
    padding: 20px;
    border-radius:5px ;
    width: min(80%);
    height:min(70vh);
    flex-direction:row;
}

